input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #66bb6a;
  cursor: pointer;
}

.menu-link.active .menu-title {
  font-weight: 600;
  color: #108f6f;
}

/* .menu-link.active .fill-svg path,
.menu-link:hover .fill-svg path {
  fill: #108f6f;
} */

.menu-link.active .stroke-svg path,
.menu-link:hover .stroke-svg path {
  stroke: #108f6f;
}

.rdp-range_start .rdp-day_button,
.rdp-range_end .rdp-day_button {
  background-color: #108f6f !important;
  border-color: #108f6f !important;
}

.rdp-today {
  color: #108f6f !important;
}

.rdp-range_middle {
  background-color: #eaf9f4 !important;
}

.rdp-chevron {
  fill: #108f6f !important;
}

/* .rdp-range_start {
  background-color: linear-gradient(90deg, transparent 50%, #eaf9f4 50%) !important;
}

.rdp-range_end {
  background-color: linear-gradient(90deg, #eaf9f4 50%, transparent 50%) !important;
} */

.rdp-months {
  display: block !important;
}

.rdp-range_end .rdp-day_button,
.rdp-range_start .rdp-day_button {
  color: white !important;
  background-color: #108f6f !important;
}

.PhoneInputCountryIcon--border,
.PhoneInputCountryIconImg {
  height: 27px !important;
  width: 40px !important;
  border-radius: 0.25rem;
}

.PhoneInputCountryIcon--border {
  margin-left: 7px !important;
  box-shadow: none !important;
}

.PhoneInputInput:focus {
  outline: none !important;
  box-shadow: none;
  background-color: transparent !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #2a8f6f;
}

.darkMode::-webkit-scrollbar-thumb {
  background-color: #504b6d;
}
