.menu-link.active .menu-title {
  font-weight: 600;
  color: #108f6f;
}

/* .menu-link.active .fill-svg path,
.menu-link:hover .fill-svg path {
  fill: #108f6f;
} */

.menu-link.active .stroke-svg path,
.menu-link:hover .stroke-svg path {
  stroke: #108f6f;
}

.rdp-months {
  display: block !important;
}

.PhoneInputCountryIcon--border,
.PhoneInputCountryIconImg {
  height: 27px !important;
  width: 40px !important;
  border-radius: 0.25rem;
}

.PhoneInputCountryIcon--border {
  margin-left: 7px !important;
  box-shadow: none !important;
}

.PhoneInputInput:focus {
  outline: none !important;
  box-shadow: none;
  background-color: transparent !important;
}
