@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  transition-duration: .3s;
  transition-timing-function: ease;
  /* width: 240px;
  height: 70px; */
}

p, h1, h2, h3, h4, h5, h6, input, li, label {
  color: black !important;
}

@media (min-width: 1024px) {
  .wrapper {
    padding-top: 70px;
    /* padding-left: 250px; */
  }

  .sidebar {
    width: 240px;
  }

  .header {
    /* left: 240px; */
  }
}

.wrapper {
  padding-top: 50px;
}

.header {
  height: 70px;
}

.container-fixed {
  flex-grow: 1;
  /* width: 100%; */
}

@media (min-width: 1280px) {
  .container-fixed {
    margin-left: auto;
    margin-right: auto;
  }
}

.sidebar .sidebar-content {
  overflow: hidden;
}

.fc-h-event {
  border: none;
}

.fc-daygrid-day-events {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 4px;
  margin-right: 4px;
}

.event-box {
  border-radius: 6px;
}

.fc-col-header-cell {
  border-left: none !important;
  border-right: none !important;
}

.fc-daygrid-day-top {
  flex-direction: row !important;
}

.fc-list-event {
  cursor: pointer;
}

.fc-h-event {
  background-color: transparent;
}

.fc-popover-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.fc-day-today {
  background-color: #f8f7f8 !important;
}

.event-title {
  font-size: 12px;
  font-weight: 600;
}

.fc-toolbar-chunk {
  display: flex;
  align-items: center !important;
}

.fc-prev-button, .fc-next-button {
  width: 31px;
  border: none !important;
  padding-left: 0px !important;
}

.fc-button-group {
  margin-left: 0px !important;
}

.fc--button {
  display: none !important;
}

.fc-button {
  background-color: transparent !important;
  text-transform: capitalize !important;
  box-shadow: none !important;
  color: black !important;
}

.fc .fc-button-primary:not(.fc-prev-button):not(.fc-next-button) {
  padding: 6px 20px;
  border: 1px solid #e5e7eb;
}

.fc .fc-button-primary:not(.fc-prev-button):not(.fc-next-button):hover,
.fc .fc-button-primary.fc-button-active:not(.fc-prev-button):not(.fc-next-button) {
  background-color: #eaf8f4 !important;
  color: #379b7f !important;
}

.fc-toolbar-title {
  font-size: 18px !important;
  font-weight: 600;
  margin-left: 0px !important;
}
